// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//

.container {
    max-width: 100%;
}

[v-cloak] {
    display: none;
}

img {
    max-width: 100%;
}

.btn:not(:disabled):not(.disabled).c-default {
    cursor: default;
}

%hovered-or-added {
    box-shadow: $btn-active-box-shadow,
        0 0 0 $btn-focus-width rgba($success, 0.5);
    background: #fff;
    color: $success;
}

.btn-outline-success {
    &:hover,
    &:not(:disabled):not(.disabled):active {
        @extend %hovered-or-added;
    }
}

.btn-outline-success.added {
    @extend %hovered-or-added;
}

.navbar-brand img {
    height: 60px;
}

.grow {
    flex-grow: 1;
}

.odds {
    > div {
        width: calc(100% / 3);
    }
    .money-line {
        button {
            width: 7.5rem;
        }
    }
    .spread {
        button {
            width: 9.375rem;
        }
    }
    .over-under {
        button {
            width: 7.5rem;
        }
    }
}

.my-achievements {
    max-width: 70rem;
}

.dotted-underline {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ccc;
}

@include media-breakpoint-up(xl) {
    .container {
        max-width: 1300px;
    }
}

@include media-breakpoint-down(xs) {
    .odds.card-body {
        padding: 0;
        > div {
            width: calc(100% / 3);
            > button {
                width: 100%;
                font-size: 3vw;
                padding: 0.6rem 0;
            }
        }
    }
    h1.teams-playing {
        font-size: 6vw !important;
    }
}

@include media-breakpoint-down(sm) {
    #weekly-bets {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
}

#weekly-bets > div:first-of-type {
    margin-top: 0 !important;
}
